/* Front Panel */

:root {
	--spacer-sm: 12px;
	--font-family-body: Courier, monospace;
	--font-size-medium: 20px;
}

body {
	background-color: white;
	font-family: var( --font-family-body );
}

[class*="monster"] {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.monster-bobo {
	background-image: url( './images/monster-1.png' );
}

.monster-maxine {
	background-image: url( './images/monster-2.png' );
}

.label {
	background-color: white;
	box-shadow: 
		0 1px 1px rgba( 0,0,0,0.2),
		0 2px 2px rgba( 0,0,0,0.2),
		0 3px 3px rgba( 0,0,0,0.2);
	padding: var( --spacer-sm );
	font-size: var(--font-size-medium);
}

.tilt-15deg {
	transform: rotate(15deg);
}

.tilt-n15deg {
	transform: rotate(-15deg);
}

blockquote {
	font-style: italic;
	border-left: 3px solid #9f9f9f;
	padding-left: var( --spacer-sm );
	margin-left: var( --spacer-sm );
}
